:root {
    --main-color: white;
    --secondary-color: black;
    --accent-color: #0b4f6c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", system-ui, Helvetica, Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas:
        "header"
        "main-content"
        "left-sidebar";
}

.container > * {
    padding: 16px;
}

.container > .header {
    grid-area: header;
    background-color: var(--accent-color);
    color: var(--main-color);
    display: flex;
    align-items: center;
    gap: 12px;
}

#mythosaur-logo {
    width: 50px;
}

.container a {
    color: var(--secondary-color);
}

button {
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    width: fit-content;
    padding: 6px;
    color: var(--secondary-color);
}

.quote {
    align-self: center;
    width: 80%;
    max-width: 300px;
    background: #eee;
    padding: 16px;
    border-radius: 16px;
}

.quote figcaption,
.quote blockquote {
    margin: 16px;
}

.quote figcaption {
    text-align: end;
}

/* ------------------------ Left Sidebar ------------------------ */

.container > .left-sidebar {
    grid-area: left-sidebar;
}

#inbox {
    padding: 4px 0;
    width: fit-content;
    display: flex;
    gap: 4px;
    align-items: center;
}

#inbox-img {
    width: 20px;
}

.left-sidebar > nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#project-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project-list-item {
    list-style: none;
    display: flex;
    gap: 8px;
    align-items: stretch;
}

.project {
    border-radius: 4px;
    padding: 12px;
    flex: 1;
    text-decoration: none;
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
}

.delete-project-btn {
    margin: 4px;
    display: flex;
    align-items: center;
}

.trash-can-img {
    width: 20px;
}

#new-project-btn {
    align-self: center;
}

#new-project-dialog {
    align-self: center;
    position: relative;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    padding: 12px;
}

#new-project-form {
    display: flex;
    flex-direction: column;
}

#new-project-title {
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    padding: 8px;
}

#new-project-form-btns {
    margin-top: 12px;
    display: flex;
    gap: 12px;
    justify-content: center;
}

button[value="submit"] {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    color: var(--main-color);
}

#author {
    align-self: center;
}

/* ------------------------ Main Content ------------------------ */

.container > .main-content {
    grid-area: main-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main-content button {
    background-color: transparent;
    border: 1px solid var(--secondary-color);
}

#current-project-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

#list-of-todos {
    list-style-type: none;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.todo-list-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid black;
}

.todo-list-item-first-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
}

.todo-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: auto;
}

.todo-due-date {
    white-space: nowrap;
    margin-left: 8px;
}

.todo-btns-container {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.edit-todo-btn {
    display: flex;
    align-items: center;
}

.square-edit-img {
    width: 20px;
}

.delete-todo-btn {
    display: flex;
    align-items: center;
}

#new-todo-btn {
    align-self: center;
}

/* ------------------------ Modals ------------------------ */

.modal {
    margin: auto;
    padding: 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 80%;
}

.modal::backdrop {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.close-modal-btn {
    align-self: flex-end;
}

.modal-title {
    font-weight: 600;
    font-size: 1.2rem;
}

/* ------------------------ Todo Details Modal ------------------------ */

#todo-details-modal {
    overflow-wrap: break-word;
}

/* ------------------------ New/Edit Todo Form ------------------------ */

#edit-todo-form,
#new-todo-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

form input,
form textarea,
form select {
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    font-size: 1rem;
}

form textarea,
#todo-title {
    padding: 8px;
    width: 100%;
}

#todo-due-date,
#todo-priority {
    background-color: white;
    color: black;
    padding: 4px;
    width: fit-content;
}

#submit-todo-form-btn {
    font-weight: 400;
    align-self: flex-end;
}

/* ------------------------ Hover Effects ------------------------ */

@media (hover: hover) {
    button:hover,
    .todo-checkbox:hover {
        cursor: pointer;
    }

    .project:hover,
    button:hover {
        background-color: #e2e2e2;
    }

    button[value="submit"]:hover {
        background-color: var(--accent-color);
        filter: brightness(150%);
    }
}

/* ------------------------ Viewport Breakpoints ------------------------ */

@media screen and (min-width: 768px) {
    .container {
        grid-template-columns: minmax(250px, 300px) 1fr;
        grid-template-areas:
            "header header"
            "left-sidebar main-content";
    }

    .modal {
        width: 50%;
    }
}
